{% extends "layout.html" %}

  <h1>{% block title %} Home {% endblock %} </h1>

{% block content %}
Welcome to the RPG Shopping District! To begin, select the location size and alignment. This will direct you to your new generated location with shops and inventory!
<hr class="divider" />
<!-- Size Input from User -->
  <form action="/newtown/" method="post">
  <h2> Size Selection </h2>
  <hr class="divider" />
    <input type="radio" id="Rural" name="Size" value="{{ request.form["towns"] }}">
    <label for="Village">Village</label><br>
    <input type="radio" id="Urban" name="Size" value="Town">
    <label for="Town">Town</label><br>
    <input type="radio" id="Premium" name="Size" value="City">
    <label for="City">City</label><br><br>
    <input type="radio" id="All" name="Size" value="All">
    <label for="All">Random</label><br><br>
  <input type="submit" name ="form" value="Submit"/>
  <input type="reset">
  </form>
  <br>
  <br>

{% endblock %}
